body{
    background-color: #30B5C7;
}


#signin{
   margin-left: 700px;

}
#textocc{
    font-family: 'Oxygen', sans-serif;
    margin-left:15%;
}
#logococonut2{
    width: 20%;
    height: 45%;
    margin-top: 5%;
    margin-left: 15%;
}